certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
kiwisolver==1.2.0
matplotlib==3.2.1
moviepy==1.0.2
numpy==1.18.2
Pillow==7.1.1
pip==19.2.3
proglog==0.1.9
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
setuptools==41.2.0
six==1.14.0
tqdm==4.45.0
urllib3==1.25.8
